* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.middle-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

//заглушка
body {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: linear-gradient(90deg, rgb(52, 51, 51) 38.05%, rgb(72, 72, 72) 69.22%, rgb(40, 40, 40) 98.98%);
    overflow-y: hidden;
    animation: fadeIn 1 1s ease-out;
}

button{
  background-color: rgba(365,365,365,0.2);
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.505);
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  width: 250px;
  height: 50px;
  font-size: 1.5em;
  border-radius: 5px;
  opacity: 1;
  top: 60vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
}

button:hover{
  border: 2px solid rgba(255, 255, 255, 0.505);
  background-color: rgb(255, 179, 102);
  cursor: pointer;
  color: rgb(0, 0, 0);
  opacity: 1;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
  animation: floatUp 4s infinite linear;
  transform: scale(1.0);
}

.x2{
  animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}

.x3{
  animation: floatUp 2.5s infinite linear;
  transform: scale(.5);
  left: -15%;
}

.x4{
  animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.x5{
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.x6{
  animation: floatUp 3s infinite linear;
  transform: scale(.8);
  left: -81%;
}

.x7{
  animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.x8{
  animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}

.x9{
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}

button:focus{
  outline: none;
}

@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

.header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2em;
}

#head1{
  opacity: 1;
}

#head1{
  animation: fadeOut 5s infinite;
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}


@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

#footer{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
  position: fixed;
  transform: translate(95vw,90vh);
  transform: translate(95vw,90vh);
}


//loader

.loader {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 9px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent rgb(255, 179, 102) rgb(255, 179, 102);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    